header{
    display: flex;
    justify-content: space-between;
}
header nav{
    margin-right: 20px;
}
header nav li{
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.content {
    display: flex;
}
.content .sidebar {
    padding: 30px 70px;
    max-width: 500px;
    background-color: #94d9ff;
}

h1{
    color: #273eff
}


footer{
    text-align: center;
}